@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));



* {

  margin:0;
  padding:0;
  box-sizing:border-box;

}



html,
body,
#root {

  width:100%;
  min-height:100vh;

}



body {

  font-family: Inter, sans-serif;

  background:#f8fafc;

  color:#111827;

}



html.dark body {

  background:#020617;

  color:#f8fafc;

}